@font-face{
  font-family:"PT Sans";
  font-weight:400;
  src:url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family:"PT Sans";
  font-weight: 700;
  src:url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
 /*
Подключение нестандартных шрифтов в формате WOFF2 со свойством font-display: swap. Шрифтовые файлы лежат у вас в папке fonts/ проекта.

Описание текстовых параметров для всех элементов:

размер шрифта,
высота строки,
цвет шрифта,  width="115" height="33"

насыщенность шрифта,
гарнитура (название шрифта),
другие текстовые параметры, если требуется по макету.
 */

body{
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.navigation a{
  font-family:"PT Sans",sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0;
  color:#000000;
}

.index-main-title{
  font-family:"PT Sans",sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0;
  color:#000000;
  text-align: center;

}

.reasons{
  font-family:"PT Sans",sans-serif;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;
  color: #000000;
}

.logo-welcome{
  display: block;
  margin: 0 auto;
}


.index-background{
  width:100%;
  max-width: 1200px;
  min-height:485px;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 20px;

}
