@font-face{
  font-family:"PT Sans";
  font-weight:400;
  src:url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family:"PT Sans";
  font-weight: 700;
  src:url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body{
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color:#83B3D333;
}

.navigation a{
  font-family:"PT Sans",sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0;
  color:#000000;
}

.index-main-title{
  font-family:"PT Sans",sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0;
  color:#000000;
  text-align: center;

}

.reasons{
  font-family:"PT Sans",sans-serif;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;
  color: #000000;
}
.images-main{
  background-image:url("../images/index-background.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.reasons-title-other {
  font-family:"Pt Sans",sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  text-transform:uppercase;
  color:#FFFFFF;
}


.reasons-title-second {
  font-family:"Pt Sans",sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0;
  text-align: right;
  text-transform:uppercase;
  color:#FFFFFF;
}

.reasons-description-second {
  font-family:"Pt Sans","sans-serif";
  font-size:18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
  text-align: right;
  color:#ffffff;
}

.reasons-description-other {
  font-family:"Pt Sans","sans-serif";
  font-size:18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
  text-align: left;
  color:#ffffff;
}


.reasons-title {
  font-family: "Pt Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}



.reasons-description{
  font-family: "Pt Sans", "sans-serif";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
  text-align: left;
  color: #000000;
}


